<section id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <header class="page-header">
      <h1 class="page-title">Chuyên mục: CHIA SẺ KINH NGHIỆM</h1>
    </header>
    <!-- .page-header -->
    <% @articles.each_with_index do |article, index| %>
    <article id="post-2569" class="article-wrap post-2569 post type-post status-publish format-standard has-post-thumbnail hentry category-bai-viet-moi tag-10-dieu-ban-chua-biet-ve-border-collie tag-border-collie tag-giong-cho-thong-minh-nhat-the-gioi">
      <div class="entry-thumb">
        <a href="/<%= article.slug %>"><img src="<%= article.photo.url %>" alt="<%= article.title %>"></a> 
      </div>
      <header class="entry-header">
        <div class="entry-meta"><span class="posted-on"><time class="entry-date published" datetime="<%= article.created_at %>"><span class="posted-day"><%= article.created_at.day %></span><span class="posted-month">Th<%= article.created_at.month %></span></time></span></div>
        <div class="byline"> By <span class="author vcard"><a class="url fn n" href="https://collievn.com/author/bordercolievietnam">Border Collie Việt Nam</a></span></div>
        <h2 class="entry-title"><a href="/<%= article.slug %>"><%= article.title %></a></h2>
      </header>
      <div class="entry-content">
        <div class="content-body" data-js-component="contentBody" data-js-component-initialized="true">
          <div class="content-body__text" data-js-component="quickRead" data-js-component-initialized="true">
            <%= raw article.content %>
          </div>
        </div>
      </div>
      <!-- .entry-content -->
      <footer class="entry-footer">
        <span class="cat-links">
        <i class="fa fa-folder-open"></i>Posted in <a href="/bai-viet-moi" rel="category tag">Bài Viết Mới</a>                    </span>
        <span class="tags-links">
        <i class="fa fa-tags"></i>Tagged <a href="/<%= article.slug %>" rel="tag"><%= article.title %></a>, <a href="/<%= @articles.last.slug %>" rel="tag"><%= @articles.last.title %></a></span>
      </footer>
      <!-- .entry-footer -->
    </article>
    <% end %>
  </main>
  <!-- #main -->
</section>
