<!-- BEGIN RESULT -->
<div class="col-md-9 infoDetails">
  <%= render "main_info" %>
  <div class="infoDetails-pedigree">
    <h3><i class="fa fa-folder-open"></i> <%= t('view.search.genealogy') %></h3>
    <hr>
    <table class="table table-bordered">
      <tbody>
        <% @dog.genealogy.each do |dog_arr| %>
        <tr>
          <% dog_arr.each do |dog_record| %>
          <td rowspan="<%= dog_record.rowspan(self_depth: dog_record.depth) %>">
            <b>
              <% if dog_record.id? %>
              <%= link_to dog_record.name, details_path(dog_record.slug) %>
              <% else %>
              <%= dog_record.name %>
              <% end %>
            </b>
            <br>
            <%= [dog_record.microchip_number, dog_record.color_type? ? t("activerecord.attributes.dog.color_types.#{dog_record.color_type}") : nil].compact.join(', ') %>

          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="infoDetails-photos">
    <h3><i class="fa fa-photo"></i> <%= t('view.search.photos') %></h3>
    <hr>
    <% @dog.photos.each do |photo| %>
    <div class="col-md-3">
      <%= image_tag photo.image_url %>
    </div>
    <% end %>
  </div>
</div>
<!-- END RESULT -->