<h2><i class="fa fa-paw"></i> <%= @dog.name %></h2>
<hr>
<h5>
  <%= link_to t('view.search.main_information'), details_path(@dog.slug), class: "infoDetails-breadcrumb" %>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to t('view.search.relations'), relative_path(@dog.slug), class: "infoDetails-breadcrumb" %>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to t('view.search.offshring'), descendant_path(@dog.slug), class: "infoDetails-breadcrumb" %>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to t('view.search.genealogy'), genealogy_path(@dog.slug), class: "infoDetails-breadcrumb" %>
</h5>
<div class="row infoDetails-mainInfo">
  <div class="col-md-5">
    <%= image_tag @dog.photos.any? ? @dog.photos.first.image_url : "nopic.jpg", class: "infoDetails-mainInfo-photo" %>
  </div>
  <div class="col-md-7">
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.microchip_number') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.private_microchip_number %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.father') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.father&.name %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.mother') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.mother&.name %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.sex') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.sex? ? t("activerecord.attributes.dog.sexes.#{@dog.sex}") : '' %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.color') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.color_type? ? t("activerecord.attributes.dog.color_types.#{@dog.color_type}") : '' %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.birthday') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.date_of_birth&.strftime('%d-%m-%Y') %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.owner') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.owner || 'None' %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.address') %>:</div>
      <div class="col-md-7 infoValue"><%= @dog.living_address || 'None' %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.description') %>:</div>
      <div class="col-md-7 infoValue"><%= strip_tags @dog.description %></div>
    </div>
    <div class="infoDetails-mainInfo-row">
      <div class="col-md-5 infoLabel"><%= t('view.search.descendants') %> :</div>
      <div class="col-md-7 infoValue"><%= @dog.descendant_count(:male) %> đực<br><%= @dog.descendant_count(:female) %> cái</div>
    </div>
  </div>
</div>