<!-- BEGIN RESULT -->
<div class="col-md-9">
  <h2><i class="fa fa-file-o"></i> <%= t('view.search.result') %></h2>
  <hr>
  <%= render "search_by_name_form" %>
  <div class="padding"></div>
  <div class="row">
    <%= render "order_result" %>
    <div class="col-md-6 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
      </div>
    </div>
  </div>
  <!-- BEGIN TABLE RESULT -->
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <%= render partial: "dog", collection: @dogs, as: :dog %>
      </tbody>
    </table>
  </div>
  <!-- END TABLE RESULT -->
  <!-- BEGIN PAGINATION -->
  <ul class="pagination">
    <%= paginate @dogs %>
  </ul>
  <!-- END PAGINATION -->
</div>
<!-- END RESULT -->