<div text="#000000" data-gr-c-s-loaded="true">
  <div align="center">
    <table width="1018" height="100%" border="0" cellspacing="2" cellpadding="0" bgcolor="#FFFFFF">
      <tbody>
        <tr>
          <td valign="top" align="left" width="212" bgcolor="#dfab72" style="vertical-align: top;">
            <!-- ПОИСК -->
            <form action="/search" method="GET" style="MARGIN-BOTTOM: 10px; WIDTH: 210px;">
              <p style="MARGIN: 10px 0px 0px 10px;">
                <font color="#000000" size="1" face="Arial">
                  <b>
                    <font size="2"></font><br>
                    ID:<br>
                    <input type="text" name="id" value="" size="8" class="MIPT" placeholder="Nhập id">
                    Tên:<br>
                    <input type="text" name="name" value="" size="22" class="MIPT" placeholder="Nhập tên">
                    Màu Sắc:<br>
                    <select name="color">
                      <option value="">- - -</option>
                      <option value="monochrome"> Monochrome </option>
                      <option value="bicolor"> Bicolor </option>
                      <option value="tricolor"> Tricolor </option>
                    </select>
                    <br>
                    Giới Tính:<br>
                    <select name="sex">
                      <option value="">- - -</option>
                      <option value="male">Giống Đực</option>
                      <option value="female">Giống Cái</option>
                    </select>
                    <br>
                    Ngày Sinh (<font size="1"><i>dd-mm-yyyy</i></font>):<br>
                    <input type="text" name="fromdate" value="" size="4" class="from-date" style="width: 100px"  placeholder="Từ ngày"> &nbsp;&nbsp; 
                    <input type="text" name="todate" value="" size="4" class="to-date" style="width: 100px"  placeholder="Đến ngày">
                    <br>
                  </b>
                </font>
              </p>
              <font color="#000000" size="1" face="Arial"><b>
              </b></font>
              <p style="MARGIN:0px 10px 10px 10px;"><font color="#000000" size="1" face="Arial"><b>
                Sắp xếp theo:<br><br>
                <input type="radio" name="ordby" checked="" value="0"> Tên <br>
                <input type="radio" name="ordby" value="1"> Ngày Sinh<br>
                <input type="radio" name="ordby" value="2"> Ngày Cập Nhật<br>
                <input type="radio" name="ordby" value="3"> Ngày Tạo<br>
                </b></font>
                <font size="1"><br></font>
                <input type="submit" value="Tìm Kiếm" class="MSUB">
              </p>
            </form>
            <!-- КОНЕЦ ПОИСКА -->
            <hr noshade="" width="100%" size="2" color="#FFFFFF" vspace="10">
            <!-- АВТОРИЗАЦИЯ / СПИСОК ОПЕРАЦИЙ -->
          </td>
          <td width="800" valign="top" bgcolor="#FFFFFF">
            <!-- ОСНОВНАЯ ЧАСТЬ СТРАНИЦЫ -->
            <table width="800" cellspacing="20" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td valign="top">
                   <% if @dogs.length > 0 %>
                   <% @dog = @dogs.first %>
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                          <td width="*" height="48" valign="bottom">
                            <div class="infotitle"><%= @dog.name %></div>
                          </td>
                          <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- КОНЕЦ ТАБЛИЦЫ-ЗАГОЛОВКА -->
                    <!-- ТАБЛИЦА ФОТО И РЕКВИЗИТОВ -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="320" valign="top">
                            <div style="MARGIN: 22px 1px 22px 1px;">
                              <img src="<%= @dog.photos.first.image %>" width="300" border="1"><br>
                              &nbsp;
                            </div>
                            <font size="1" face="Verdana">
                            </font>
                          </td>
                          <td width="*" valign="top">
                            <table border="0" cellspacing="10" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td align="left"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Bố:</font></td>
                                  <td align="left"><a href="/search?id=<%= @dog.father ? @dog.father.id : '' %>"><font face="MS Sans Serif" style="font-size:8.0pt; TEXT-TRANSFORM: uppercase;"><b></b></font></a><font face="MS Sans Serif" style="font-size:8.0pt; TEXT-TRANSFORM: uppercase;"><b><a style="TEXT-DECORATION: none;" href="/search?id=<%= @dog.father ? @dog.father.id : '' %>"><%= @dog.father ? @dog.father.name : ''  %></a></b></font></td>
                                </tr>
                                <tr>
                                  <td align="left" height="18"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Mẹ:</font></td>
                                  <td align="left"><a href="/search?id=<%= @dog.mother ? @dog.mother.id : '' %>"><font face="MS Sans Serif" style="font-size:8.0pt; TEXT-TRANSFORM: uppercase;"><b></b></font></a><font face="MS Sans Serif" style="font-size:8.0pt; TEXT-TRANSFORM: uppercase;"><b><a style="TEXT-DECORATION: none;" href="/search?id=<%= @dog.mother ? @dog.mother.id : '' %>"><%= @dog.mother ? @dog.mother.name : ''  %></a></b></font></td>
                                </tr>
                                <tr>
                                  <td align="left" height="18"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Ngày Sinh:</font></td>
                                  <td align="left"><font face="MS Sans Serif" style="font-size:8.0pt;"><b><%= @dog.date_of_birth  %></b></font></td>
                                </tr>
                                <tr>
                                  <td align="left" height="18"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Giới Tính:</font></td>
                                  <td align="left"><font face="MS Sans Serif" style="font-size:8.0pt;"><b><%= @dog.sex  %></b></font></td>
                                </tr>
                                <tr>
                                  <td align="left" height="18"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Màu Sắc:</font></td>
                                  <td align="left"><font face="MS Sans Serif" style="font-size:8.0pt;"><b><%= @dog.color_type  %></b></font></td>
                                </tr>
                                <tr>
                                  <td align="left" height="18"><font color="#d36e00" face="Verdana" style="font-size:8.0pt;">Nơi Sống:</font></td>
                                  <td align="left"><font face="MS Sans Serif" style="font-size:8.0pt;"><b><%= @dog.living_address  %></b></font></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- КОНЕЦ ТАБЛИЦЫ ФОТО И РЕКВИЗИТОВ -->
                    <table width="100%" border="0" cellspacing="1" cellpadding="7" bgcolor="#dfab72">
                      <tbody>
                      </tbody>
                    </table>
                    <!-- ТАБЛИЦА-ЗАГОЛОВОК СОБАКИ -->
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                          <td width="*" height="48" valign="bottom">
                            <div class="infotitle" style="MARGIN: 0px;"> Gia phả </div>
                          </td>
                          <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                        </tr>
                        <tr>
                          <td width="1" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="24" border="0"></td>
                          <td width="*" valign="top">
                            <font face="MS Sans Serif" size="2">
                              <table width="100%" border="0" cellspacing="1" cellpadding="5" bgcolor="#dfab72">
                                <tbody>
                                  <tr>
                                   <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="8">
                                    <a style="TEXT-DECORATION: none;" href="/search?id=<%= @dog.id %>"><%= @dog.name %></a>&nbsp;<br>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  @dog.living_address %> </font></font>
                                   </td>
                                  <% @dog.children_of_father.each do |dog_ch|%>
                                    <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="4">
                                    <a style="TEXT-DECORATION: none;" href="/search?id=<%= dog_ch.id %>"><%= dog_ch.name %></a>&nbsp;<br>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  dog_ch.living_address %> </font></font>
                                    </td>
                                    <% dog_ch.children_of_father.each do |ch| %>
                                        <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="2">
                                        <a style="TEXT-DECORATION: none;" href="/search?id=<%= ch.id %>"><%= ch.name %></a>&nbsp;<br>
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  ch.living_address %> </font></font>
                                        </td>
                                         <% ch.children_of_father.each do |c| %>
                                          <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="1">
                                            <a style="TEXT-DECORATION: none;" href="/search?id=<%= c.id %>"><%= c.name %></a>&nbsp;<br>
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  c.living_address %> </font></font>
                                          </td>
                                        <% end %>
                                    <% end %>
                                  <% end %>
                                  <% @dog.children_of_mother.each do |dog_ch|%>
                                    <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="4">
                                    <a style="TEXT-DECORATION: none;" href="/search?id=<%= dog_ch.id %>"><%= dog_ch.name %></a>&nbsp;<br>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  dog_ch.living_address %> </font></font>
                                    </td>
                                    <% dog_ch.children_of_mother.each do |ch| %>
                                        <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="2">
                                        <a style="TEXT-DECORATION: none;" href="/search?id=<%= ch.id %>"><%= ch.name %></a>&nbsp;
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  ch.living_address %> </font></font>
                                        </td>
                                        <% dog_ch.children_of_mother.each do |c| %>
                                          <td align="Center" valign="Center" bgcolor="#ffffff" rowspan="1">
                                            <a style="TEXT-DECORATION: none;" href="/search?id=<%= c.id %>"><%= c.name %></a>&nbsp;
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><%=  c.living_address %> </font></font>
                                           </td>
                                        <% end %>
                                    <% end %>
                                  <% end %>
                                  </tr>
                                </tbody>
                              </table>
                            </font>
                          </td>
                          <td width="1" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="24" border="0"></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- КОНЕЦ ТАБЛИЦЫ-ЗАГОЛОВКА -->
                    <table width="100%" border="0" cellspacing="2" cellpadding="0" class="ERT">
                      <tbody>
                        <tr>
                          <td width="30%" valign="top">
                            <!-- ТАБЛИЦА-ЗАГОЛОВОК СОБАКИ -->
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                                  <td width="*" height="48" valign="bottom">
                                    <div class="infotitle" style="MARGIN: 0px;"> PHOTOGRAPHIES </div>
                                  </td>
                                  <td width="1" height="48" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="48" border="0"></td>
                                </tr>
                                <% @dog.photos.each do |photo| %>
                                <tr>
                                  <td width="1" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="24" border="0"></td>
                                  <td width="*" valign="top">
                                    <font face="MS Sans Serif" size="2">
                                      <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td width="25%" align="center" valign="top"><font size="1"><img src="<%= photo.image.url %>" width="180" border="1"></font></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </font>
                                  </td>
                                  <td width="1" valign="bottom"><img src="http://beaglebase.ru/img/pixel.gif" width="1" height="24" border="0"></td>
                                </tr>
                                <% end %>
                              </tbody>
                            </table>
                            <!-- КОНЕЦ ТАБЛИЦЫ-ЗАГОЛОВКА --> 
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- КОНЕЦ ТАБЛИЦЫ-ЗАГОЛОВКА -->
                    <table width="100%" border="0" cellspacing="2" cellpadding="5">
                      <tbody>
                        <tr>
                          <td valign="middle" align="right" height="28" width="100%" colspan="4"><i><font size="-1">Cập nhật lần cuối vào <%= @dog.updated_at %> &nbsp;&nbsp;&nbsp;&nbsp; </font></i></td>
                        </tr>
                      </tbody>
                    </table>
                  <% else %>
                    <h1>Không có kết quả tìm thấy</h1>
                  <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- КОНЕЦ ОСНОВНОЙ ЧАСТИ СТРАНИЦЫ --> 
          </td>
        </tr>
      </tbody>
    </table>
    <%= paginate @dogs %>
  </div>
</div>
