<div class="mid-content clearfix rightsidebar">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article id="post-1867" class="article-wrap post-1867 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-black-white">
        <div class="entry-thumb">
          <img src="<%= @dog.photos.first.image.url %>" alt="<%= @dog.name %>"> 
        </div>
        <header class="entry-header">
          <h1 class="entry-title"><%= @dog.name %></h1>
        </header>
        <!-- .entry-header -->
        <div class="entry-content">
          <div class="tlp-portfolio-container tlp-single-detail">
            <div class="tlp-portfolio-detail-wrap">
              <div class="tlp-portfolio-image">
              <% @dog.photos.each do |dog| %>
                <div class="portfolio-feature-img">
                  <img width="960" height="640" src="<%= dog.image.url %>" 
                  class="attachment-full size-full wp-post-image wp-post-image" alt="" 
                  srcset="<%= dog.image.url %> 960w, <%= dog.image.url %> 300w, <%= dog.image.url %> 768w, <%= dog.image.url %> 384w" sizes="(max-width: 960px) 100vw, 960px">                
                </div>
              <% end %>
              </div>
              <div class="portfolio-detail-desc">
                <h2 class="portfolio-title"><%= @dog.name %></h2>
                <div class="portfolio-details">
                  <!-- Simple Share Buttons Adder (7.6.21) simplesharebuttons.com -->
                  <div class="ssba-classic-2 ssba ssbp-wrap left ssbp--theme-1">
                    <div style="text-align:left">
                      <a href="https://simplesharebuttons.com" target="_blank" class="ssba-share-text">Share this...</a><br>
                      <a data-site="" class="ssba_facebook_share" href="http://www.facebook.com/sharer.php?u=https://collievn.com/portfolio/teddy">
                        <img src="https://collievn.com/wp-content/plugins/simple-share-buttons-adder/buttons/somacro/facebook.png" style="width: 35px;" title="Facebook" class="ssba ssba-img" alt="Share on Facebook">
                        <div title="Facebook" class="ssbp-text">Facebook</div>
                      </a>
                      <a data-site="" class="ssba_twitter_share" href="http://twitter.com/share?url=https://collievn.com/portfolio/teddy&amp;text=Mr.TEDDY%20">
                        <img src="https://collievn.com/wp-content/plugins/simple-share-buttons-adder/buttons/somacro/twitter.png" style="width: 35px;" title="Twitter" class="ssba ssba-img" alt="Tweet about this on Twitter">
                        <div title="Twitter" class="ssbp-text">Twitter</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="others-info">
                  <ul class="single-item-meta">
                    <ul class="single-item-meta">
                      <li class="categories">Categories: Black &amp; White</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .entry-content -->
        <footer class="entry-footer">
        </footer>
        <!-- .entry-footer -->
      </article>
      <!-- #post-## -->
    </main>
    <!-- #main -->
  </div>
  <!-- #primary -->
  <div id="secondary" class="widget-area" role="complementary">
    <aside id="text-11" class="widget widget_text">
      <div class="textwidget">
        <p><iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchobordercollie%2F&amp;tabs=timeline&amp;width=300&amp;height=200&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=843379502434710" frameborder="0" scrolling="no"></iframe></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </aside>
    <aside id="text-4" class="widget widget_text">
      <h2 class="widget-title"><span>WWW.COLLIEVN.COM</span></h2>
      <div class="textwidget">
        <p><strong style="font-style: inherit; font-weight: inherit;">–</strong><strong>Mua bán chó Border Collie thuần chủng</strong></p>
        <p><strong>-Address : 108 Mai Động – Hoàng Mai – Hà Nội</strong></p>
        <p><strong>-Hotline : 0989.388.651</strong></p>
        <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.985504563092!2d105.85657731431839!3d21.03326599300173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab958c25973d%3A0xcd4e5ee2522e8e25!2sBorder+Collie+Vi%C3%AAt+Nam!5e0!3m2!1svi!2s!4v1501701404383" frameborder="0" allowfullscreen=""></iframe></p>
      </div>
    </aside>
  </div>
  <!-- #secondary -->
</div>
