<body data-rsssl="1"
  class="home blog woocommerce-js tinvwl-theme-style woo-variation-swatches woo-variation-swatches-theme-accesspress-parallax woo-variation-swatches-theme-child-accesspress-parallax woo-variation-swatches-style-squared woo-variation-swatches-attribute-behavior-blur woo-variation-swatches-tooltip-enabled woo-variation-swatches-stylesheet-enabled group-blog ap-parallax parallax-on columns-3 sfsi_plus_3.32 js-focus-visible"
  data-gr-c-s-loaded="true" cz-shortcut-listen="true">
  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div class="social-icons" style="margin-top: -93px;">
      <a href="<%= setting(:facebook) %>" class="facebook" data-title="Facebook" target="_blank">
        <i class="fa fa-facebook"></i><span>Facebook</span>
      </a>

      <a href="<%= setting(:twitter) %>" class="twitter" data-title="Twitter" target="_blank">
        <i class="fa fa-twitter"></i><span>Twitter</span>
      </a>

      <a href="<%= setting(:google_plus) %>" class="gplus" data-title="Google Plus" target="_blank">
        <i class="fa fa-google-plus"></i><span>Google Plus</span>
      </a>

      <a href="<%= setting(:youtube) %>" class="youtube" data-title="Youtube" target="_blank">
        <i class="fa fa-youtube"></i><span>Youtube</span>
      </a>

      <a href="<%= setting(:pinterest) %>" class="pinterest" data-title="Pinterest" target="_blank">
        <i class="fa fa-pinterest"></i><span>Pinterest</span>
      </a>

      <a href="<%= setting(:instagram) %>" class="instagram" data-title="instagram" target="_blank">
        <i class="fa fa-instagram"></i><span>instagram</span>
      </a>
    </div>

    <script>
      jQuery(document).ready(function ($) {
        $(window).resize(function () {
          var socialHeight = $('.social-icons').outerHeight();
          $('.social-icons').css('margin-top', -(socialHeight / 2));
        }).resize();
      });
    </script>
    <header id="masthead" class="logo-side ap-fixed">
      <div class="mid-content clearfix">
        <div class="flex-box">
          <div id="site-logo">
            <a href="https://collievn.com/" rel="home">
              <img src="https://collievn.com/wp-content/uploads/2018/10/cropped-8888888-1.png"
                alt="Border Collie Việt Nam">
            </a>
          </div>

          <nav id="site-navigation" class="main-navigation">

            <div class="menu-toggle">Menu</div>

            <ul id="menu-trang-chu" class="menu">
              <li id="menu-item-1792"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-1792">
                <a href="https://collievn.com/"><i class="_mi _before dashicons dashicons-admin-home" aria-hidden="true"
                    style="font-size:2em;"></i><span>Trang chủ</span></a></li>
              <li id="menu-item-1539"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1539"><a
                  href="https://collievn.com/bai-viet-moi"><i class="_mi _before dashicons dashicons-smiley"
                    aria-hidden="true"></i><span>Bài Viết Mới</span></a></li>
              <li id="menu-item-1537"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1537"><a
                  href="https://collievn.com/border-collie"><i class="_mi _before foundation-icons fi-asl"
                    aria-hidden="true"></i><span>BORDER COLLIE</span></a></li>
              <li id="menu-item-1706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1706"><a
                  href="https://collievn.com/danh-muc/dang-ban"><i class="_mi _before dashicons dashicons-cart"
                    aria-hidden="true"></i><span>ĐANG BÁN</span></a></li>
              <li id="menu-item-1538"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1538">
                <a href="https://collievn.com/chia-se-kinh-nghiem"><i class="_mi _before dashicons dashicons-share"
                    aria-hidden="true"></i><span>KINH NGHIỆM</span></a>
                <ul class="sub-menu">
                  <li id="menu-item-1710"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1710"><a
                      href="https://collievn.com/chia-se-kinh-nghiem/cac-benh-thuong-gap">CÁC BỆNH THƯỜNG GẶP</a></li>
                </ul>
              </li>
              <li id="menu-item-1536"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1536"><a
                  href="https://collievn.com/huan-luyen-co-ban-2"><i class="_mi _before elusive el-icon-cogs"
                    aria-hidden="true"></i><span>HUẤN LUYỆN</span></a></li>
            </ul>
          </nav>
          <!-- #site-navigation -->
        </div>
      </div>
    </header>
    <!-- #masthead -->

    <div id="content" class="site-content " style="padding-top: 109px;">

      <section id="main-slider" class="full-screen-no">
        <div class="slick-slider">
          <% setting(:banner).each do |banner| %>
            <div>
              <img src="<%= banner.image.url %>" alt="<%= banner.alt %>">
            </div>
          <% end %>
        </div>
      </section>
      <div class="ap-home">
        <section class="parallax-section clearfix default_template" id="section-2" data-jarallax-original-styles="null"
          style="z-index: 0; background: #fff;">

          <div class="mid-content">

            <%= setting(:welcome_content) %>

          </div>
          <div id="jarallax-container-0"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div
              style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
            </div>
          </div>
        </section>
        <section class="parallax-section clearfix default_template" data-jarallax-original-styles="null" style="z-index: 0; background: url() no-repeat scroll top left #34beed; color: #ffffff;">

          <div class="mid-content">

            <h2><span>DỊCH VỤ</span></h2>

            <div class="parallax-content">
              <div class="page-content">
                <div class="parallax-content">
                  <div class="page-content">
                    <p style="text-align: center;">
                    </p>
                  </div>
                </div>
                <div class="service-listing clearfix">
                  <% @services.each_slice(2) do |slice| %>
                    <% slice.each_with_index do |service, idx| %>
                      <% if idx == 0 %>
                        <div class="clearfix service-list odd wow fadeInLeft animated animated" data-wow-delay="0.25s"
                          style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
                          <div class="service-image"><img class="alignnone size-full wp-image-1836"
                              src="<%= service.image.url %>" alt="<%= service.title %>" width="104" height="94">
                          </div>
                          <div class="service-detail">
                            <h3><span style="color: #ff0000;">♥</span><%= service.title %></h3>
                            <div class="service-content">
                              <%= service.content.html_safe %>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="clearfix service-list even wow fadeInRight animated animated" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                          <div class="service-image"><img class="alignnone size-full wp-image-1837"
                              src="<%= service.image.url %>" alt="<%= service.title %>" width="106" height="88">
                          </div>
                          <div class="service-detail">
                            <h3><span style="color: #ff0000;">♥</span><%= service.title %></h3>
                            <div class="service-content">
                              <%= service.content.html_safe %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="content-area"></div>
          </div>
          <div id="jarallax-container-1"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div
              style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
            </div>
          </div>
        </section>
        <section class="parallax-section clearfix portfolio_template" id="section-1693"
          data-jarallax-original-styles="null" style="z-index: 0; background: #f1f1f1;">

          <div class="mid-content">

            <h2><span>BÀI VIẾT MỚI</span></h2>

            <div class="parallax-content">
              <div class="page-content">
                <p style="text-align: center;">Tất cả những bài viết mới sẽ được cập nhật tại đây</p>
              </div>
            </div>

            <div class="portfolio-listing clearfix">
              <% @articles.each do |article| %>
              <a href="/<%= article.slug %>" class="portfolio-list wow fadeInUp animated" data-wow-delay="0.15s"
                style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                <div class="portfolio-wrap">
                  <div class="portfolio-overlay"><span>+</span></div>
                  <div class="portfolio-image">
                    <img src="<%= article.photo.url %>" alt="<%= article.title %>">
                  </div>
                  <h3><%= article.title %></h3>
                </div>
              </a>
              <% end %>
              <%= paginate @articles %>
            </div>
          </div>
          <div id="jarallax-container-2"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div
              style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
            </div>
          </div>
        </section>
        <section class="parallax-section clearfix default_template" id="section-1713"
          data-jarallax-original-styles="null" style="z-index: 0;">

          <div class="mid-content">

            <h2><span>DANH SÁCH ĐỰC GIỐNG</span></h2>

            <div class="parallax-content">
              <div class="page-content">
                <div class="tlp-portfolio-isotope" style="position: relative; height: 802.188px;">
                  <% @dogs.each do |dog| %>
                  <div
                    class="tlp-item tlp-single-item tlp-isotope-item tlp-col-lg-3 tlp-col-md-3 tlp-col-sm-6 tlp-col-xs-12  black-white"
                    <div class="tlp-portfolio-item">
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= dog.photos.first.image.url %>" alt="<%= dog.name %>">
                        <div class="card-img-top">
                          <h5 class="card-title"><%= dog.name %></h5>
                          <a href="/portfolio/<%= dog.id %>" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="content-area"></div>
          </div>
          <div id="jarallax-container-4"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div
              style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
            </div>
          </div>
        </section>
      </div>
    </div>
    </ins>
    <iframe src="https://c.sharethis.mgr.consensu.org/v1.0/cmp/portal.html" id="st_gdpr_iframe"
      title="GDPR Consent Management" style="width: 0px; height: 0px; position: absolute; left: -5000px;"></iframe>
    <!-- #page -->

    <div id="go-top" style="display: block"><a href="#page"><i class="fa fa-angle-up"></i></a></div>
    <a href="tel:0989388651">
      <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show" id="coccoc-alo-phoneIcon callnowicon"
        style="left:0px !important; bottom:20px !important;">
        <div class="coccoc-alo-ph-circle"></div>
        <div class="coccoc-alo-ph-circle-fill"></div>
        <div class="coccoc-alo-ph-img-circle"></div>
      </div>
    </a>

    <div class="gmw-dialog" style="display: none;" data-map-height="550" data-map-width="550" data-thumb-height="250"
      data-thumb-width="250" data-map-skin="light"
      data-map-iframe-url="https://www.google.com/maps/embed/v1/place?q=108+mai+%C4%91%E1%BB%99ng&amp;attribution_source=Border+Collie+Vi%E1%BB%87t+Nam&amp;attribution_web_url=https%3A%2F%2Fcollievn.com&amp;attribution_ios_deep_link_id=comgooglemaps%3A%2F%2F%3Fdaddr%3D108+mai+%C4%91%E1%BB%99ng&amp;maptype=roadmap&amp;zoom=14&amp;language=en&amp;key=AIzaSyBl-RwKJwixQ8_u8aof7-dFoKJP9ZMbzck"
      id="gmw-dialog-googlemapswidget-2" title="Map" data-close-button="0" data-show-title="0" data-measure-title="0"
      data-close-overlay="1" data-close-esc="0">
      <div class="gmw-map"></div>
    </div>

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
      <div id="cboxWrapper">
        <div>
          <div id="cboxTopLeft" style="float: left;"></div>
          <div id="cboxTopCenter" style="float: left;"></div>
          <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
          <div id="cboxMiddleLeft" style="float: left;"></div>
          <div id="cboxContent" style="float: left;">
            <div id="cboxTitle" style="float: left;"></div>
            <div id="cboxCurrent" style="float: left;"></div>
            <button type="button" id="cboxPrevious"></button>
            <button type="button" id="cboxNext"></button>
            <button id="cboxSlideshow"></button>
            <div id="cboxLoadingOverlay" style="float: left;"></div>
            <div id="cboxLoadingGraphic" style="float: left;"></div>
          </div>
          <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
          <div id="cboxBottomLeft" style="float: left;"></div>
          <div id="cboxBottomCenter" style="float: left;"></div>
          <div id="cboxBottomRight" style="float: left;"></div>
        </div>
      </div>
      <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
    </div>
    <iframe id="google_osd_static_frame_2743615250959" name="google_osd_static_frame"
      style="display: none; width: 0px; height: 0px;"></iframe>
</body>