<body data-rsssl="1" class="home blog woocommerce-js tinvwl-theme-style woo-variation-swatches woo-variation-swatches-theme-accesspress-parallax woo-variation-swatches-theme-child-accesspress-parallax woo-variation-swatches-style-squared woo-variation-swatches-attribute-behavior-blur woo-variation-swatches-tooltip-enabled woo-variation-swatches-stylesheet-enabled group-blog ap-parallax parallax-on columns-3 sfsi_plus_3.32 js-focus-visible" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
    <div id="page" class="hfeed site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="social-icons" style="margin-top: -93px;">
            <a href="https://www.facebook.com/chobordercollie/" class="facebook" data-title="Facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>

            <a href="https://twitter.com/bordercollievn" class="twitter" data-title="Twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>

            <a href="https://plus.google.com/u/0/103012342349968570488" class="gplus" data-title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>

            <a href="https://www.youtube.com/channel/UCVjKKHWI1JiTfYCSVUa9v9Q?view_as=subscriber" class="youtube" data-title="Youtube" target="_blank"><i class="fa fa-youtube"></i><span>Youtube</span></a>

            <a href="https://www.pinterest.com/lechianh0211/" class="pinterest" data-title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>

            <a href="https://www.instagram.com/lechianh/" class="instagram" data-title="instagram" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a>

        </div>

        <script>
            jQuery(document).ready(function($) {
                $(window).resize(function() {
                    var socialHeight = $('.social-icons').outerHeight();
                    $('.social-icons').css('margin-top', -(socialHeight / 2));
                }).resize();
            });
        </script>
        <header id="masthead" class="logo-side ap-fixed">
            <div class="mid-content clearfix">
                <div class="flex-box">
                    <div id="site-logo">
                        <a href="https://collievn.com/" rel="home">
                            <img src="https://collievn.com/wp-content/uploads/2018/10/cropped-8888888-1.png" alt="Border Collie Việt Nam">
                        </a>
                    </div>

                    <nav id="site-navigation" class="main-navigation">

                        <div class="menu-toggle">Menu</div>

                        <ul id="menu-trang-chu" class="menu">
                            <li id="menu-item-1792" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-1792"><a href="https://collievn.com/"><i class="_mi _before dashicons dashicons-admin-home" aria-hidden="true" style="font-size:2em;"></i><span>Trang chủ</span></a></li>
                            <li id="menu-item-1539" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1539"><a href="https://collievn.com/bai-viet-moi"><i class="_mi _before dashicons dashicons-smiley" aria-hidden="true"></i><span>Bài Viết Mới</span></a></li>
                            <li id="menu-item-1537" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1537"><a href="https://collievn.com/border-collie"><i class="_mi _before foundation-icons fi-asl" aria-hidden="true"></i><span>BORDER COLLIE</span></a></li>
                            <li id="menu-item-1706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1706"><a href="https://collievn.com/danh-muc/dang-ban"><i class="_mi _before dashicons dashicons-cart" aria-hidden="true"></i><span>ĐANG BÁN</span></a></li>
                            <li id="menu-item-1538" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1538"><a href="https://collievn.com/chia-se-kinh-nghiem"><i class="_mi _before dashicons dashicons-share" aria-hidden="true"></i><span>KINH NGHIỆM</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1710" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1710"><a href="https://collievn.com/chia-se-kinh-nghiem/cac-benh-thuong-gap">CÁC BỆNH THƯỜNG GẶP</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-1536" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1536"><a href="https://collievn.com/huan-luyen-co-ban-2"><i class="_mi _before elusive el-icon-cogs" aria-hidden="true"></i><span>HUẤN LUYỆN</span></a></li>
                        </ul>
                    </nav>
                    <!-- #site-navigation -->
                </div>
            </div>
        </header>
        <!-- #masthead -->

        <div id="content" class="site-content " style="padding-top: 109px;">
            <section id="main-slider" class="full-screen-no">

                <div class="bx-slider slick-initialized slick-slider">
                    <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 15840px; transform: translate3d(-5760px, 0px, 0px);">
                        
                        <% @dogs.each_with_index do |dog, index| %> 
                            <div class="main-slides slick-slide slick-cloned" data-slick-index="<%= index - 1 %>" aria-hidden="true" style="width: 1440px;" tabindex="-1">
                                <img src="<%= dog.photos.first.image.url %>">
                            </div>
                        <% end %>
                        </div>
                    </div>
                    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
                </div>

                
            </section>
            <div class="ap-home">
                <section class="parallax-section clearfix default_template" id="section-2" data-jarallax-original-styles="null" style="z-index: 0;">

                    <div class="mid-content">

                        <h2><span>WELLCOME TO BORDER COLLIE VIET NAM</span></h2>

                        <div class="parallax-content">
                            <div class="page-content">
                                <p>&nbsp;</p>
                                <p><strong>Border Collie Việt Nam&nbsp;</strong>được phát triển bởi Mr.Le Chi Anh.Website được xây dựng nhằm mục đích chia sẻ thông tin và các hoạt động của Border Collie tại Việt Nam và cũng một phần do nhu cầu &amp; sở thích của những người yêu giống chó Border Collie,mong muốn có 1 sân chơi ổn định,uy tín và lâu dài.</p>
                                <p><strong>Sứ mệnh và giá trị cốt lõi của Border Collie Việt Nam :</strong> giữa vô vàn những lựa chọn khác nhau thì đây cũng là 1 phần đóng góp vào việc cung cấp thông tin,chia sẻ kiến thức đến với những người đã và đang có ý định tìm hiểu về dòng chó thông minh nhất loài chó.Cung cấp những thông tin chính xác và an toàn nhất cho người dùng.Với mong muốn giống chó Border Collie sẽ được phát triển và nhân rộng tại Việt Nam.</p>
                                <p><strong>Border Collie Việt Nam&nbsp;</strong>cung cấp con giống chất lượng,đảm bảo sức khoẻ và có bảo hành.Bên cạnh đó chúng tôi còn cung cấp dịch vụ phối giống chó Border Collie với những con giống đẹp và chất lượng.Ngoài ra,chúng tôi còn tự hào là đơn vị xuất khẩu nhiều chó Border Collie ra nước ngoài nhất tại Việt Nam.</p>
                                <p>&nbsp;</p>
                                <p><strong>Liên hệ với tôi ngay hôm nay :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong><strong><img class=" wp-image-1954 alignright" src="https://collievn.com/wp-content/uploads/2018/12/20479981_498005817219317_2200423353436606419_n-300x199.jpg" alt="" width="199" height="132" srcset="https://collievn.com/wp-content/uploads/2018/12/20479981_498005817219317_2200423353436606419_n-300x199.jpg 300w, https://collievn.com/wp-content/uploads/2018/12/20479981_498005817219317_2200423353436606419_n-384x255.jpg 384w, https://collievn.com/wp-content/uploads/2018/12/20479981_498005817219317_2200423353436606419_n.jpg 500w" sizes="(max-width: 199px) 100vw, 199px"></strong></p>
                                <ul>
                                    <li>Fanpage :<strong> <a href="http://Https://facebook.com/chobordercollie">Border Collie Việt Nam</a></strong></li>
                                    <li>Email : <strong>bordercollievietnam@gmail.com</strong></li>
                                    <li>Hotline :<strong> 0989 388 651 – Chí Anh 18 tuổi lần N ,đẹp trai và vui tính ^^</strong></li>
                                </ul>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                        <div class="content-area"></div>
                    </div>
                    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
                        <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"></div>
                    </div>
                </section>
                <section class="parallax-section clearfix default_template" id="section-1561" data-jarallax-original-styles="null" style="z-index: 0;">
  <div class="mid-content">
    <h2><span>DỊCH VỤ</span></h2>
    <div class="parallax-content">
      <div class="page-content">
        <div class="parallax-content">
          <div class="page-content">
            <p style="text-align: center;"></p>
          </div>
        </div>
        <div class="service-listing clearfix">
          <div class="clearfix service-list odd wow fadeInLeft animated animated" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
            <div class="service-image"><img class="alignnone size-full wp-image-1836" src="https://collievn.com/wp-content/uploads/2018/11/cl2.png" alt="" width="104" height="94"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>BÁN CHÓ BORDER COLLIE THUẦN CHỦNG</h3>
              <div class="service-content">
                <p>Tất cả chó con khi bán ra đều được xác nhận thuần chủng và sẽ đền tiền gấp 10 lần nếu phát hiện lai tạp<span style="color: #ff0000;">.<a style="color: #ff0000;" href="https://collievn.com/danh-muc/dang-ban">Mua ngay</a>.</span></p>
              </div>
            </div>
          </div>
          <div class="clearfix service-list even wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
            <div class="service-image"><img class="alignnone size-full wp-image-1837" src="https://collievn.com/wp-content/uploads/2018/11/cl1.png" alt="" width="106" height="88"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>PHỐI GIỐNG CHÓ BORDER COLLIE</h3>
              <div class="service-content">
                <p>Với nhiều đực giống,đầy đủ các mầu sắc đáp ứng đầy đủ yêu cầu của các bạn.<span style="color: #ff0000;"><a style="color: #ff0000;" href="https://collievn.com/phoi-giong-border-collie">Xem ngay</a></span></p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix service-list odd wow fadeInLeft animated animated" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInLeft;">
            <div class="service-image"><img class="alignnone size-full wp-image-1840" src="https://collievn.com/wp-content/uploads/2018/11/cl5.png" alt="" width="97" height="92"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>TRÔNG GIỮ THÚ CƯNG</h3>
              <div class="service-content">
                <p>Nắm bắt được nhu cầu cần có thời gian nghỉ ngơi và giải trí của các bạn.Chúng tôi nhận<span style="color: #ff0000;"> <a style="color: #ff0000;" href="https://collievn.com/dich-vu-trong-giu-cun-chat-luong-tai-ha-noi">trông giữ thú cưng</a></span> với giá thành rẻ nhưng hoàn toàn chất lượng.</p>
              </div>
            </div>
          </div>
          <div class="clearfix service-list even wow fadeInRight animated animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;">
            <div class="service-image"><img class="alignnone size-full wp-image-1838" src="https://collievn.com/wp-content/uploads/2018/11/cl3.png" alt="" width="86" height="103"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>THỨC ĂN CHO THÚ CƯNG</h3>
              <div class="service-content">
                <p>Fitmin là dòng thức ăn được tối ưu nhất cho dòng chó Border Collie,nên chúng tôi đã chọn Fitmin để giới thiệu và cung cấp cho những người yêu chó Border Collie.</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix service-list odd wow fadeInLeft animated" data-wow-delay="1.25s" style="visibility: hidden; animation-delay: 1.25s; animation-name: none;">
            <div class="service-image"><img class="alignnone size-full wp-image-1841" src="https://collievn.com/wp-content/uploads/2018/11/cl6.png" alt="" width="86" height="100"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>HỖ TRỢ,TƯ VẤN 24/24</h3>
              <div class="service-content">
                <p>Luôn luôn sẵn sàng lắng nghe những khó khăn và thắc mắc các bạn gặp phải trong suốt quá trình nuôi dưỡng và chăm sóc chó Border Collie.Đừng ngần ngại,hãy nhắc máy và<span style="color: #ff0000;"> <a style="color: #ff0000;" href="https://www.facebook.com/lechianh1188">liên lạc</a></span> với chúng tôi.</p>
              </div>
            </div>
          </div>
          <div class="clearfix service-list even wow fadeInRight animated" data-wow-delay="1.5s" style="visibility: hidden; animation-delay: 1.5s; animation-name: none;">
            <div class="service-image"><img class="alignnone size-full wp-image-1837" src="https://collievn.com/wp-content/uploads/2018/11/cl1.png" alt="" width="106" height="88"></div>
            <div class="service-detail">
              <h3><span style="color: #ff0000;">♥</span>HƯỚNG DẪN NGƯỜI CHƠI THAM GIA VÀO CÁC HOẠT ĐỘNG HỘI NHÓM</h3>
              <div class="service-content">
                <p>Sinh hoạt cộng đồng là điều thiết yếu để mỗi chúng ta có thể giao lưu và chia sẻ kiến thức cho nhau.Bên cạnh đó còn góp phần tạo dựng sự đoàn kết,cùng nhau phát triển và lớn mạnh.<span style="color: #ff0000;"><a style="color: #ff0000;" href="https://www.facebook.com/groups/bordercollielover/">Tham gia ngay</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-area"></div>
  </div>
  <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
    <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"></div>
  </div>
</section>
                <section class="parallax-section clearfix portfolio_template" id="section-1693" data-jarallax-original-styles="null" style="z-index: 0;">

                    <div class="mid-content">

                        <h2><span>BÀI VIẾT MỚI</span></h2>

                        <div class="parallax-content">
                            <div class="page-content">
                                <p style="text-align: center;">Tất cả những bài viết mới sẽ được cập nhật tại đây</p>
                            </div>
                        </div>
                        <div class="portfolio-listing clearfix">
                        <% @articles.each do |article| %>
                            <a href="/<%= article.slug %>" class="portfolio-list wow fadeInUp animated" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                                <div class="portfolio-wrap">
                                    <div class="portfolio-overlay"><span>+</span></div>
                                    <div class="portfolio-image">
                                        <img src="<%= article.photo.url %>" alt="<%= article.title %>">
                                    </div>
                                    <h3><%= article.title %></h3>
                                </div>
                            </a>
                        <% end %>
                        <%= paginate @articles %>
                        </div>
                    </div>
                    <div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
                        <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"></div>
                    </div>
                </section>
                <section class="parallax-section clearfix default_template" id="section-1713" data-jarallax-original-styles="null" style="z-index: 0;">

                    <div class="mid-content">

                        <h2><span>DANH SÁCH ĐỰC GIỐNG</span></h2>

                        <div class="parallax-content">
                            <div class="page-content">
                                <div class="rt-container-fluid tlp-portfolio tlp-portfolio-container is-isotope" id="tlp-portfolio-container-421633582">
                                    <style>
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3,
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3 a {
                                            color: #000000;
                                        }
                                        
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3,
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3 a {
                                            font-size: 15px;
                                        }
                                        
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3,
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3 a {
                                            font-weight: bolder;
                                        }
                                        
                                        #tlp-portfolio-container-421633582.tlp-portfolio h3 {
                                            text-align: center;
                                        }
                                        
                                        #tlp-portfolio-container-421633582.tlp-portfolio .tlp-content-holder p {
                                            font-size: 10px;
                                            font-weight: normal;
                                            text-align: center;
                                        }
                                    </style>
                                    <div class="rt-row isotope1">
                                        <div class="tlp-portfolio-isotope-button button-group filter-button-group option-set">
                                            <button data-filter="*" class="selected">All</button>
                                            <button data-filter=" .{
                            black-white}">Monochrome</button>
                                            <button data-filter=" .{
                            blue-merle}">Bicolor</button>
                                            <button data-filter=" .{
                            chocolate-white}">Tricolor</button>
                                        </div>
                                        <div class="tlp-portfolio-isotope" style="position: relative; height: 802.188px;">
                                        <% @dogs.each do |dog| %>
                                            <div class="tlp-item tlp-single-item tlp-isotope-item tlp-col-lg-3 tlp-col-md-3 tlp-col-sm-6 tlp-col-xs-12  black-white" style="position: absolute; left: 0px; top: 272px;">
                                                <div class="tlp-portfolio-item">
                                                    <div class="tlp-portfolio-thum tlp-item"><img class="img-responsive" src="<%= dog.photos.first.image.url %>" alt="<%= dog.name %>">
                                                        <div class="tlp-overlay">
                                                            <div class="tlp-portfolio-sd"></div>
                                                            <p class="link-icon" style="margin-top: 67.5px;"><a class="tlp-zoom" href="<%= dog.photos.first.image.url %>"><i class="fa fa-search-plus"></i></a><a target="_blank" href="/portfolio/<%= dog.id %>"><i class="fa fa-external-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <div class="tlp-content">
                                                        <div class="tlp-content-holder">
                                                            <h3><a href="/portfolio/<%= dog.id %>"><%= dog.name %></a></h3>
                                                            <div class="tlp-portfolio-sd"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                        <%= paginate @dogs %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-area"></div>
                    </div>
                    <div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
                        <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"></div>
                    </div>
                </section>
            </div>
        </div>
    </ins>
    <iframe src="https://c.sharethis.mgr.consensu.org/v1.0/cmp/portal.html" id="st_gdpr_iframe" title="GDPR Consent Management" style="width: 0px; height: 0px; position: absolute; left: -5000px;"></iframe>
    <!-- #page -->

    <div id="go-top" style="display: block;"><a href="#page"><i class="fa fa-angle-up"></i></a></div>
    <a href="tel:0989388651">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show" id="coccoc-alo-phoneIcon callnowicon" style="left:0px !important; bottom:20px !important;">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
        </div>
    </a>
    <!--facebook like and share js -->
    <div id="fb-root"></div>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.addEventListener('sfsi_plus_functions_loaded', function() {
            if (typeof sfsi_plus_responsive_toggle == 'function') {
                sfsi_plus_responsive_toggle(0);
                // console.log('sfsi_plus_responsive_toggle');

            }
        })
    </script>

    <div class="gmw-dialog" style="display: none;" data-map-height="550" data-map-width="550" data-thumb-height="250" data-thumb-width="250" data-map-skin="light" data-map-iframe-url="https://www.google.com/maps/embed/v1/place?q=108+mai+%C4%91%E1%BB%99ng&amp;attribution_source=Border+Collie+Vi%E1%BB%87t+Nam&amp;attribution_web_url=https%3A%2F%2Fcollievn.com&amp;attribution_ios_deep_link_id=comgooglemaps%3A%2F%2F%3Fdaddr%3D108+mai+%C4%91%E1%BB%99ng&amp;maptype=roadmap&amp;zoom=14&amp;language=en&amp;key=AIzaSyBl-RwKJwixQ8_u8aof7-dFoKJP9ZMbzck" id="gmw-dialog-googlemapswidget-2" title="Map" data-close-button="0" data-show-title="0" data-measure-title="0" data-close-overlay="1" data-close-esc="0">
        <div class="gmw-map"></div>
    </div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <link rel="stylesheet" id="tlp-fontawsome-css" href="https://collievn.com/wp-content/plugins/tlp-portfolio/assets/vendor/font-awesome/css/font-awesome.min.css?ver=2.7.0" type="text/css" media="all">
    <script type="text/javascript">
        /* <![CDATA[ */
        var kk_star_ratings = {
            "action": "kk-star-ratings",
            "endpoint": "https:\/\/collievn.com\/wp-admin\/admin-ajax.php",
            "nonce": "1c17eabfdf"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/kk-star-ratings/public/js/kk-star-ratings.js?ver=4.1.3"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/simple-share-buttons-adder/js/ssba.js?ver=4.9.7"></script>
    <script type="text/javascript">
        Main.boot([]);
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var tocplus = {
            "smooth_scroll": "1",
            "visibility_show": "Hi\u1ec7n",
            "visibility_hide": "\u1ea8n",
            "width": "Auto"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/table-of-contents-plus/front.min.js?ver=2002"></script>
    <script type="text/javascript" src="https://collievn.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/js/shuffle/modernizr.custom.min.js?ver=4.9.7"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/js/shuffle/jquery.shuffle.min.js?ver=4.9.7"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/js/shuffle/random-shuffle-min.js?ver=4.9.7"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var sfsi_plus_ajax_object = {
            "ajax_url": "https:\/\/collievn.com\/wp-admin\/admin-ajax.php",
            "plugin_url": "https:\/\/collievn.com\/wp-content\/plugins\/ultimate-social-media-plus\/",
            "rest_url": "https:\/\/collievn.com\/wp-json\/"
        };
        var sfsi_plus_links = {
            "admin_url": "https:\/\/collievn.com\/wp-admin\/",
            "plugin_dir_url": "https:\/\/collievn.com\/wp-content\/plugins\/ultimate-social-media-plus\/",
            "rest_url": "https:\/\/collievn.com\/wp-json\/",
            "pretty_perma": "yes"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/js/custom.js?ver=4.9.7"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wc_add_to_cart_params = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
            "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng",
            "cart_url": "https:\/\/collievn.com\/gio-hang",
            "is_cart": "",
            "cart_redirect_after_add": "no"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.8.1"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var woocommerce_params = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/?wc-ajax=%%endpoint%%"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.8.1"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wc_cart_fragments_params = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
            "cart_hash_key": "wc_cart_hash_6f2dc5fcb6a1e42e646ffc77bfc55363",
            "fragment_name": "wc_fragments_6f2dc5fcb6a1e42e646ffc77bfc55363",
            "request_timeout": "5000"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.8.1"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var tinvwl_add_to_wishlist = {
            "text_create": "Create New",
            "text_already_in": "\"{product_name}\" already in Wishlist",
            "simple_flow": "",
            "i18n_make_a_selection_text": "Please select some product options before adding this product to your wishlist.",
            "tinvwl_break_submit": "No items or actions are selected.",
            "tinvwl_clipboard": "Copied!",
            "allow_parent_variable": "",
            "wc_cart_fragments_refresh": "1"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/ti-woocommerce-wishlist/assets/js/public.min.js?ver=1.16.2"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/wow.js?ver=1.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jarallax.js?ver=1.1.3"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jquery.scrollTo.min.js?ver=1.4.14"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jquery.localScroll.min.js?ver=1.3.5"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jquery.nav.js?ver=2.2.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/isotope.pkgd.js?ver=3.0.4"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/waypoint.js?ver=2.0.3"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jquery.easing.min.js?ver=1.3"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/jquery.fitvids.js?ver=1.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/nivo-lightbox.min.js?ver=1.2.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/slick.js?ver=1.8.0"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ap_params = {
            "accesspress_show_pager": "false",
            "accesspress_show_controls": "true",
            "accesspress_auto_transition": "true",
            "accesspress_slider_transition": "false",
            "accesspress_slider_speed": "1000",
            "accesspress_slider_pause": "3000"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/themes/accesspress-parallax/js/custom.js?ver=1.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-includes/js/underscore.min.js?ver=1.8.3"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _wpUtilSettings = {
            "ajax": {
                "url": "\/wp-admin\/admin-ajax.php"
            }
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-includes/js/wp-util.min.js?ver=4.9.7"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wpreview = {
            "ajaxurl": "https:\/\/collievn.com\/wp-admin\/admin-ajax.php"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/wp-review/public/js/main.js?ver=5.3.0"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var woo_variation_swatches_options = {
            "is_product_page": ""
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/woo-variation-swatches/assets/js/frontend.min.js?ver=1.0.75"></script>
    <script type="text/javascript" src="https://collievn.com/wp-includes/js/wp-embed.min.js?ver=4.9.7"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/google-maps-widget/js/jquery.colorbox.min.js?ver=4.17"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var gmw_data = {
            "colorbox_css": "https:\/\/collievn.com\/wp-content\/plugins\/google-maps-widget\/css\/gmw.css?ver=4.17"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/google-maps-widget/js/gmw.js?ver=4.17"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/tlp-portfolio/assets/vendor/jquery.magnific-popup.min.js?ver=2.7.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/tlp-portfolio/assets/vendor/isotope/isotope.pkgd.min.js?ver=2.7.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/tlp-portfolio/assets/vendor/owl-carousel/owl.carousel.min.js?ver=2.7.0"></script>
    <script type="text/javascript" src="https://collievn.com/wp-content/plugins/tlp-portfolio/assets/js/tlpportfolio.js?ver=2.7.0"></script>

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;"></div>
                <div id="cboxTopCenter" style="float: left;"></div>
                <div id="cboxTopRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;"></div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;"></div>
                    <div id="cboxCurrent" style="float: left;"></div>
                    <button type="button" id="cboxPrevious"></button>
                    <button type="button" id="cboxNext"></button>
                    <button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;"></div>
                    <div id="cboxLoadingGraphic" style="float: left;"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;"></div>
                <div id="cboxBottomCenter" style="float: left;"></div>
                <div id="cboxBottomRight" style="float: left;"></div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
    </div>
    <iframe id="google_osd_static_frame_2743615250959" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;"></iframe>
</body>