<!DOCTYPE html>
<html>
  <head>
    <title>Vietnambeagleclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render 'partial/header' %>
    <%= render 'partial/social' %>
    <%= yield %>
    <%= render 'partial/footer' %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=538825283650992&autoLogAppEvents=1"></script>
    <script>
      window.addEventListener('sfsi_plus_functions_loaded', function () {
        if (typeof sfsi_plus_responsive_toggle == 'function') {
          sfsi_plus_responsive_toggle(0);
          // console.log('sfsi_plus_responsive_toggle');

        }
      })
    </script>
  </body>
</html>
