<!DOCTYPE html>
<html>
  <head>
    <title>Vietnambeagleclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet'  href='https://collievn.com/wp-includes/css/dashicons.min.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' href='https://collievn.com/wp-content/plugins/menu-icons/vendor/codeinwp/icon-picker/css/types/elusive.min.css?ver=2.0' type='text/css' media='all' />
    <link rel='stylesheet'  href='https://collievn.com/wp-content/plugins/menu-icons/vendor/codeinwp/icon-picker/css/types/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet'  href='https://collievn.com/wp-content/plugins/menu-icons/vendor/codeinwp/icon-picker/css/types/foundation-icons.min.css?ver=3.0' type='text/css' media='all' />
    <link rel='stylesheet'  href='https://collievn.com/wp-content/plugins/menu-icons/vendor/codeinwp/icon-picker/css/types/genericons.min.css?ver=3.4' type='text/css' media='all' />
    <link rel='stylesheet' id='menu-icons-extra-css'  href='https://collievn.com/wp-content/plugins/menu-icons/css/extra.min.css?ver=0.12.2' type='text/css' media='all' />
    <link rel='stylesheet' id='hrw-css'  href='https://collievn.com/wp-content/plugins/call-now-icon-animate/css.css' type='text/css' media='' />
    <link rel='stylesheet' id='kk-star-ratings-css'  href='https://collievn.com/wp-content/plugins/kk-star-ratings/public/css/kk-star-ratings.css?ver=4.1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-share-buttons-adder-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='toc-screen-css'  href='https://collievn.com/wp-content/plugins/table-of-contents-plus/screen.min.css?ver=2002' type='text/css' media='all' />
    <link rel='stylesheet' id='tlpportfolio-css-css'  href='https://collievn.com/wp-content/plugins/tlp-portfolio/assets/css/tlpportfolio.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='SFSIPLUSmainCss-css'  href='https://collievn.com/wp-content/plugins/ultimate-social-media-plus/css/sfsi-style.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'  href='https://collievn.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://collievn.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.8.1' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'  href='https://collievn.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='tinvwl-css'  href='https://collievn.com/wp-content/plugins/ti-woocommerce-wishlist/assets/css/public.min.css?ver=1.16.2' type='text/css' media='all' />
    <link rel='stylesheet' id='accesspress-parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C500%2C700%7COxygen%3A400%2C300%2C700%7CQuicksand%3A400%2C500%2C600%2C700%7CPoppins%3A300%2C400%2C500%2C600&#038;ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='nivo-lightbox-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/css/nivo-lightbox.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/css/animate.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='slick-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/css/slick.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='accesspress-parallax-woocommerce-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/woocommerce/ap-parallax-style.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='accesspress-parallax-style-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/style.css?ver=4.9.7' type='text/css' media='all' /> 
    <link rel='stylesheet' id='mediaelement-css'  href='https://collievn.com/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.6-78496d1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css'  href='https://collievn.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=4.9.7' type='text/css' media='all' />
    <script type='text/javascript' src='https://collievn.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://collievn.com/wp-includes/js/mediaelement/renderers/vimeo.min.js?ver=4.2.6-78496d1'></script>
    <script type='text/javascript' src='https://collievn.com/wp-content/plugins/google-maps-widget/js/jquery.colorbox.min.js?ver=4.17'></script>
    <script type='text/javascript' src='https://collievn.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.6-78496d1'></script>
    <script type='text/javascript' src='https://collievn.com/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://collievn.com/wp-content/plugins/woo-variation-swatches/assets/js/frontend.min.js?ver=1.0.76'></script>
    <script type='text/javascript' src='https://collievn.com/wp-includes/js/wp-embed.min.js?ver=4.9.7'></script>
    <LINK href='http://beaglebase.ru/img/styles.css' type=text/css rel=STYLESHEET>
		<link rel='stylesheet' href='lbox/lightbox.css' type='text/css' media='screen' />
		<script type='text/javascript' src='http://beaglebase.ru/lbox/prototype.js'></script>
		<script type='text/javascript' src='http://beaglebase.ru/lbox/scriptaculous.js?load=effects,builder'></script>
		<script type='text/javascript' src='http://beaglebase.ru/lbox/lightbox.js'></script>
    <script type='text/javascript' src='https://collievn.com/wp-content/themes/accesspress-parallax/js/custom.js'></script>
  </head>

  <body>
    <%= render 'partial/header' %>
    <%= yield %>
    <%= render 'partial/footer' %>
  </body>
</html>
