<!DOCTYPE html>
<html>
  <head>
    <title>Vietnambeagleclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet' id='menu-icons-extra-css'  href='https://collievn.com/wp-content/plugins/menu-icons/css/extra.min.css?ver=0.12.2' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-share-buttons-adder-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='SFSIPLUSmainCss-css'  href='https://collievn.com/wp-content/plugins/ultimate-social-media-plus/css/sfsi-style.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='accesspress-parallax-woocommerce-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/woocommerce/ap-parallax-style.css?ver=4.9.7' type='text/css' media='all' />
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render 'partial/header' %>
    <%= yield %>
    <%= render 'partial/footer' %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=538825283650992&autoLogAppEvents=1"></script>
    <script>
      window.addEventListener('sfsi_plus_functions_loaded', function () {
        if (typeof sfsi_plus_responsive_toggle == 'function') {
          sfsi_plus_responsive_toggle(0);
          // console.log('sfsi_plus_responsive_toggle');

        }
      })
    </script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
