<!DOCTYPE html>
<html>
  <head>
    <title>Vietnambeagleclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <% if @dog %>
      <meta property="og:image" content="http://res.cloudinary.com/ddwzefu1w/image/upload/v1584440985/skyjcqisthtpzfgp1zfp.jpg" />
      <meta property="og:url" content="http://res.cloudinary.com/ddwzefu1w/image/upload/v1584440985/skyjcqisthtpzfgp1zfp.jpg" />
    <% end %>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Vietnam Beagle Club" />
    <meta property="og:description" content="Trại nuôi chó săn thỏ thuần chủng FCI VKA" />
    <meta property="fb:app_id" content="538825283650992" />
  </head>

  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v6.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="188914015184482">
    </div>

    <%= render 'partial/header' %>
    <%= render 'partial/social' %>
    <%= yield %>
    <%= render 'partial/footer' %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=538825283650992&autoLogAppEvents=1"></script>
    <script>
      window.addEventListener('sfsi_plus_functions_loaded', function () {
        if (typeof sfsi_plus_responsive_toggle == 'function') {
          sfsi_plus_responsive_toggle(0);
          // console.log('sfsi_plus_responsive_toggle');

        }
      })
    </script>
  </body>
</html>
