<!DOCTYPE html>
<html>
  <head>
    <title>Vietnambeagleclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet' id='menu-icons-extra-css'  href='https://collievn.com/wp-content/plugins/menu-icons/css/extra.min.css?ver=0.12.2' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-share-buttons-adder-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='SFSIPLUSmainCss-css'  href='https://collievn.com/wp-content/plugins/ultimate-social-media-plus/css/sfsi-style.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='accesspress-parallax-woocommerce-css'  href='https://collievn.com/wp-content/themes/accesspress-parallax/woocommerce/ap-parallax-style.css?ver=4.9.7' type='text/css' media='all' />
  </head>

  <body>
    <%= render 'partial/header' %>
    <%= yield %>
    <%= render 'partial/footer' %>
  </body>
</html>
